# Wonderful. This code snippet shows colored results for when you smash tab a bunch of times. 
# I literally cannot live without it anymore
set colored-stats On
set colored-completion-prefix On
set visible-stats On
set show-all-if-ambiguous On
set mark-symlinked-directories On

# After completing a unique directory, add a trailing slash
set mark-directories on

# Matches dotfiles if you do or don't type '.'
set match-hidden-files off

# ---- Tab completion style ----
# Make Tab cycle matches; Shift-Tab cycles backward
"\t": menu-complete
"\e[Z": backward-menu-complete       # Shift-Tab
